@font-face {
  font-family: 'Hitchcock';
  src: local('Hitchcock'), url(./fonts/Hitchcock.ttf) format('truetype');
}

body {
  background-color: #0F0F0F !important;
  font-family: Calibri;
}

.frontPageTitle {
  padding-top: 35vh;
  padding-left: 5vw;
  font-size: calc(20px + 8vmin);
}

.left-panel {
  position: absolute;
  right: 25%;
  width: 75%;
  color: #FFE600;
  font-family: Hitchcock;
}

.right-panel {
  background-color: #0479D2;
  position: absolute;
  left: 75%;
  width: 25%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: white;
}

#formAuthEmail, #formAuthPassword {
  width: 240px;
}

#formSignUpFirstName, #formSignUpLastName, #formSignUpEmail, #formSignUpPassword {
  width: 240px;
}

.redirect-btn {
  font-family: Hitchcock;
  color: white;
}

.redirect-btn:hover {
  color: #004f99;
}

.forgot-pwd-btn {
  padding-top: 20px;
  font-size: calc(5px + 1vmin);
  color: white;
}

.forgot-pwd-btn:hover {
  color: white;
}

/* .redirect-btn:hover {
  color: black;
} */

/* #login-form {
  position: absolute;
  left: 79%;
}

#right-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 400vw;
}

#formAuthEmail, #formAuthPassword {
  background-color: #115D98;
  min-width: 300px;
  color: white;
  border: none;
  padding: 6px 20px;
  font-family: Calibri;
  font-size: 20px;
}

#formAuthEmail:focus, #formAuthPassword:focus {
  outline-width: 0;
} */