@font-face {
  font-family: 'Hitchcock';
  src: local('Hitchcock'), url(./fonts/Hitchcock.ttf) format('truetype');
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

body {
  background-color: #0F0F0F !important;
  font-family: Calibri;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

h5, h4, p{
  color: white;
  font-family: Calibri;
}

.frontPageTitle {
  padding-top: 35vh;
  padding-left: 5vw;
  font-size: calc(12px + 8vmin);
}

.left-panel {
  position: absolute;
  right: 25%;
  width: 75%;
  color: #FFE600;
  font-family: Hitchcock;
}

.right-panel {
  background-color: #0479D2;
  position: absolute;
  left: 75%;
  width: 25%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: white;
}

#formAuthEmail, #formAuthPassword {
  width: 240px;
}

#formSignUpFirstName, #formSignUpLastName, #formSignUpEmail, #formSignUpPassword {
  width: 240px;
}

.redirect-btn {
  font-family: Hitchcock;
  color: white;
}

.redirect-btn-submit {
  font-family: Calibri;
  color: white;
  font-size: 22px;
}

.redirect-btn:hover {
  color: #004f99;
}

.redirect-btn-submit:hover {
  color: #A7A7A7;
}

.forgot-pwd-btn {
  padding-top: 20px;
  font-size: calc(5px + 1vmin);
  color: white;
}

.forgot-pwd-btn:hover {
  color: white;
}

.home-banner {
  position: fixed;
  width: 285px;
  right: 0;
  height: 100vh;
}

.logo-banner {
  position: fixed;
  left: 0;
  width: 150px;
  height: 100vh;
}

.logo-btn, .logo-btn-home {
  position: fixed;
  top: 110px;
  color: #ffffff;
  font-family: Hitchcock;
  text-align: right;
  transform: rotate(-90deg);
}

.logo-btn:hover {
  color: #a7a7a7;
  text-decoration: none;
}

.review-banner {
  position: fixed;
  width: 385px;
  padding-left: 100px;
  right: 0;
  height: 100vh;
}

.account-menu {
  color: white;
  position: fixed;
  margin: auto;
  text-align: center;
  width: 235px;
  height: 64px;
  right: 75px;
	bottom: 20px;
  border-radius: 999px;
  font-size: 17px;
  cursor: pointer;
}

.account-menu:hover {
  background-color: #161616;
}

.account-name {
  text-align: center;
  vertical-align: middle;
  line-height: 64px;
  font-family: Hitchcock;
}

.new-review {
  width: 135px;
  height: 200px;
}

.top-banner {
  padding-left: 150px;
  padding-top: 50px;
  height: 270px;
  width: calc(100vw - 285px);
}

.catalogue {
  position: absolute;
  padding-left: 130px;
  top: 270px;
  width: calc(100vw - 285px);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.film {
  margin: 20px;
  width: 135px;
}

.film:hover .filmArtwork, .film:hover .filmTitle, .film:hover .filmDirector{
  opacity: 0.7;
}

.film:hover {
  cursor: pointer;
}

.filmTitle {
  text-align: left;
  word-break: break-all;
  margin-bottom: 15px;
}

.filmArtwork {
  width: 135px;
  height: 200px;
  background-color: grey;
}

.filmDirector {
  margin-top: 15px;
  margin-bottom: 0;
  text-align: right;
  word-break: break-all;
}

.review-body {
  width: calc(100vw - 235px - 150px - 150px);
  height: 100vh;
  padding: 50px 0 0 0;
  margin-left: 150px;
}

.review-console {
  padding-left: 40px;
  padding-right: 40px;
  width: calc(100vw - 235px - 100px - 200px);
  height: calc(100vh - 50px);
  background-color: #222222;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: auto;
  min-height: calc(100vh - 50px);
  padding-bottom: 40px;
}

.review-console-header-container {
  padding: 40px 40px 0 40px;
}

.review-console-header-head {
  display: flex;
  justify-content: space-between;
}

.review-console-film-info {
  display: flex;
  padding-top: 20px;
  margin-bottom: 15px;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#formFilmTitle, #formFilmDirector {
  margin-right: 20px;
  border: 0;
  border-radius: 0;
  background-color: #363636;
  width: 15vw;
  min-width: 250px;
  color: white;
}

#formFilmTitle::placeholder, #formFilmDirector::placeholder {
  color: #A7A7A7;
}

#formFilmTitle::focus, #formFilmDirector::focus {
  outline: none;
}

.artwork-label {
  margin-top: 50px;
  color: white;
}

.artwork-content {
  margin-top: 20px;
  width: 185px;
}

.filepond--root {
  margin-top: 20px;
  width: 185px;
}

.filepond--item {
  background-color: #363636;
}

.filepond--credits {
  display: none;
}

.filepond--root .filepond--panel-root {
  background-color: #363636;
}

.filepond--root .filepond--drop-label {
  color: rgb(212, 212, 212);
}

.filepond--root .filepond--drip-blob {
  background-color: rgb(212, 212, 212);
}

.text-editor-container {
  margin: 0 40px 40px 40px;
}

#text-editor {
  width: calc(100vw - 285px - 50px - 80px - 200px - 80px);
  height: calc(100vh - 236px - 16px);
  position: fixed;
}

.ql-toolbar.ql-snow {
  width: calc(100vw - 285px - 50px - 80px - 200px - 80px);
  background-color: #ffffff;
  border-radius: 5px 5px 0 0;
  border: 0;
}

.ql-container.ql-snow {
  background-color: #a7a7a7;
  border: 0;
  font-size: 18px;
}

.review-reviews {
  margin-left: 40px;
  width: calc(100vw - 285px - 50px - 80px - 200px - 80px);
}

.review-review {
  margin-top: 20px;
  margin-bottom: 50px;
}

.content {
  width: calc(100vw - 285px - 50px - 80px - 200px - 80px);
  padding: 20px;
  border-radius: 7px 7px 0px 7px;
  background-color: #343434;
  color: white;
  font-size: 18px;
}

.content * {
  margin: 0;
}

.date {
  margin-top: 5px;
  float: right;
}

.date * {
  margin: 0;
  color: #CDCDCD;
}

.review-add-review {
  width: 64px;
  height: 64px;
  background-color: #282828;
  border-radius: 25px;
  position: relative;
  margin: auto;
}

.plus-sign {
  width: 24px;
  position: relative;
  margin: 20px;
}

.review-add-review:hover{
  cursor: pointer;
}

.review-add-review:hover, .review-add-review:hover .plus-sign {
  opacity: 0.5;
}

#add-review-editor {
  width: calc(100vw - 285px - 50px - 80px - 200px - 80px);
  height: 300px;
}

.add-review-editor-btn {
  cursor: pointer;
}

.add-review-editor-btn:hover {
  opacity: 0.5;
}

.add-review-editor-btn-container {
  margin-top: 10px;
	color: white;
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  flex-flow: row;
}

.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}