@font-face {
  font-family: 'Hitchcock';
  src: local('Hitchcock'), url(./fonts/Hitchcock.ttf) format('truetype');
}

body {
  background-color: #0F0F0F !important;
  font-family: Calibri;
}

h5 {
  color: white;
  font-family: Calibri;
}

.frontPageTitle {
  padding-top: 35vh;
  padding-left: 5vw;
  font-size: calc(20px + 8vmin);
}

.left-panel {
  position: absolute;
  right: 25%;
  width: 75%;
  color: #FFE600;
  font-family: Hitchcock;
}

.right-panel {
  background-color: #0479D2;
  position: absolute;
  left: 75%;
  width: 25%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: white;
}

#formAuthEmail, #formAuthPassword {
  width: 240px;
}

#formSignUpFirstName, #formSignUpLastName, #formSignUpEmail, #formSignUpPassword {
  width: 240px;
}

.redirect-btn {
  font-family: Hitchcock;
  color: white;
}

.redirect-btn:hover {
  color: #004f99;
}

.forgot-pwd-btn {
  padding-top: 20px;
  font-size: calc(5px + 1vmin);
  color: white;
}

.forgot-pwd-btn:hover {
  color: white;
}

.banner {
  position: absolute;
  width: 235px;
  right: 0;
  height: 100vh;
}

.account-menu {
  background-color: #0479D2;
  color: white;
  position: fixed;
  margin: auto;
  text-align: center;
  width: 235px;
  height: 48px;
  right: 0;
	bottom: 0;
  border-top-left-radius: 15px;
  font-size: 17px;
}

.account-name {
  padding: 11px;
  margin: 0;
}

.new-review {
  width: 135px;
  height: 170px;
}

.top-banner {
  padding-left: 75px;
  padding-top: 50px;
  height: 270px;
  width: calc(100vw - 235px);
}

.catalogue {
  position: absolute;
  padding-left: 55px;
  top: 270px;
  width: calc(100vw - 235px);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.movie {
  margin: 20px;
  width: 135px;
  height: 170px;
  background-color: grey;
  border: 2px solid red;
}

.review-body {
  width: calc(100vw - 235px);
  height: 100vh;
  padding: 50px 150px 0 150px;
}

.review-console {
  width: calc(100vw - 235px - 100px - 200px);
  height: calc(100vh - 50px);
  background-color: #222222;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.review-console-header-container {
  padding: 40px;
}

.review-console-film-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 20px;
}

#formFilmInfo {
  margin-right: 20px;
  border: 0;
  border-radius: 0;
  background-color: #363636;
  width: 15vw;
  min-width: 250px;
  color: white;
}

#formFilmInfo::placeholder {
  color: #A7A7A7;
}

#formFilmInfo::focus {
  outline: none;
}

.uploadFilmArtworkLabel {
  position: relative;
  width: 185px;
  height: 232px;
  margin-top: 20px;
  cursor: pointer;
  z-index: 0;
}

.now-showing {
  position: absolute;
  width: 185px;
  height: 232px;
  z-index: 1;
}

.artwork-label {
  margin-top: 50px;
  color: white;
}

#text-editor {
  margin: 0 20px 40px 40px;
  width: calc(100vw - 285px - 50px - 80px - 200px);
  height: calc(100vh - 236px - 60px);
}

.ql-toolbar.ql-snow {
  margin: 0 40px 0 40px;
  width: calc(100vw - 285px - 50px - 80px - 200px);
  background-color: #A7A7A7;
  border-radius: 0 15px 0 0;
  border: 0;
}

.ql-container.ql-snow {
  color: white;
  background-color: #5F5F5F;
  border: 0;
  font-size: 18px;
}